<!-- views/pages/sange.ejs -->
<%- include ('../partials/header') %>    

    <h1><%= title %></h1>
    <p><%= content %></p>

    <p>
        Sortering: 
        <a href="/a-z/">A - Å</a> |
        <a href="/z-a/">Å - A</a> |   
        <a href="/art-a-z/">Artist A - Å</a> |   
        <a href="/art-z-a/">Artist Å - A</a> |   
    </p>

    <p><b>Søg i sange</b>
        <input type="text" name="keyword" value="" id="my_filter_input" onkeyup="search_filter()">
        <button type="button">Søg</button>
    </p>


    <ul class="list" id="songlist">
    <% songlist.forEach(function(song) { %>
        <li><a href="/details/<%= song.id %>"><%= song.title %></a> - <%= song.artist_name %></li>
    <% }); %> 
    </ul>

<%- include ('../partials/footer') %>